.inspire .background-container{
    background-position: 10% 50%;
}

.projects-highlight {
    width: 100vw;
}

.projects-container{
    margin-top: 5vh;
}

.projects-highlight .portfolio-title-highlight h1{
    font-size: 64px;
    position: relative;
    padding-top: 2%;
    padding-left: 3%;
    color: #494949;
}

.inspire-container-highlight{
    width: 75%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5% auto 0 auto;
    padding-bottom: 5%;
}

.individual-project-highlight img {
    position: relative;
    bottom: 100px;
}

.project-text-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: center;
}

.move-it-homepage-img-highlight img{
    width: 100%;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    right: 10%;
}

.right-project {
    position: relative;
    left: 10%;
}

.i1 {
    margin-top: 5%;
}
.i1 img {
    height: 5%;
}
.i2 {
    margin-top: 0%;
}
.inspireBtn{
    margin-top: -15vh;
    margin-bottom: 5vh;
}

@media screen and (min-width: 1500px) {
    .projects-container{
        margin-top: 10vh;
    }
    .i1 {
        margin-top: 5vh;
    }
    .i2 {
        margin-top: 10vh;
    }
    .inspireBtn{
        margin-top: -5vh;
        margin-bottom: 10vh;
    }
}
@media screen and (max-width: 500px) {
    .inspire .individual-project{
        height: 30% !important;
    }
    .inspireBtn{
        margin-top: 0vh;
        margin-bottom: 10vh;
    }
}