.projects-highlight {
    width: 100vw;
}

.portfolio-title-highlight h1{
    font-size: 64px;
    position: relative;
    padding-top: 3%;
    padding-left: 3%;
    color: white;
}

.moveit-projects-container-highlight{
    width: 75%;
    height: 3750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% 10% 0 15%;
    padding-bottom: 5%;
}

.background-container-projects-move-it {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 5600px;
    overflow: hidden;
    z-index: -1;  
    background-repeat: repeat-y;
    background-size: cover;
    background-image: 
      url('../../../../../images/pawel-czerwinski-oykbZuvajO0-unsplash.jpg');
  }

.individual-project-highlight img {
    position: relative;
    bottom: 100px;
}

.project-text-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: center;
}

.move-it-homepage-img-highlight img{
    width: 100%;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    right: 10%;
}

.right-project {
    position: relative;
    left: 10%;
}
.individual-project-highlight .m1 img {
    width: 80%;
    height: 5%;
}
.moveit-projects-container-highlight .m2 {
    margin-top: 1750px;
}
.moveit-projects-container-highlight .m3 {
    margin-top: 1200px;
}
.moveit-projects-container-highlight .m4 {
    margin-top: 350px;
}
.moveItBtn {
    margin-top: 30%;
}


@media screen and (min-width: 1500px) {
    .background-container-projects-move-it {
        height: 7000px;
      }
    .moveit-projects-container-highlight .m2 {
        margin-top: 1950px;
    }
    .moveit-projects-container-highlight .m3 {
        margin-top: 1400px;
    }
    .moveit-projects-container-highlight .m4 {
        margin-top: 350px;
    }
}