.projects-highlight {
    width: 100vw;
}

.portfolio-title-highlight h1{
    font-size: 64px;
    position: relative;
    padding-top: 3%;
    padding-left: 3%;
}

.moveit-projects-container-highlight{
    width: 75%;
    height: 4000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% 10% 0 15%;
    padding-bottom: 5%;
}

.individual-project-highlight img {
    position: relative;
    bottom: 100px;
}

.project-text-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: center;
}

.move-it-homepage-img-highlight img{
    width: 100%;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    right: 10%;
}

.right-project {
    position: relative;
    left: 10%;
}
.individual-project-highlight .m1 img {
    width: 80%;
    height: 5%;
}
.moveit-projects-container-highlight .m2 {
    margin-top: 1900px;
}
.moveit-projects-container-highlight .m3 {
    margin-top: 1250px;
}
.moveit-projects-container-highlight .m4 {
    margin-top: 550px;
}
.moveItBtn {
    margin-top: 40%;
}