
.about-container{
    width: 100%;
    height: auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.about-container-projects {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;  
    background-size: cover;
    background-image: 
      url('../../../images/pexels-adrien-olichon-1257089-3137052.jpg');
  }

.my-info{
    width: 70%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #494949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto auto auto;
    font-size: 24px;
    line-height: 24px;
    padding: 3%;
}
.about-title h1{
    position: relative;
    padding-top: 2%;
    left: 3%;
    width: 100%;
    font-size: 64px;
    color: #494949;
}
.about-title:hover {
    transform: scale(1.05);
}
.about-container .about-img img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    right: 10%;
}
.individual-about {
    margin: 2% 3% 3% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    border: solid #494949 1px;
    cursor: pointer;
}
.reverse {
    flex-direction: row-reverse;
  }
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    padding: 2%;
}
.about-container .projects-container {
    margin-top: 3%;
}
.about-container .reverse img {
    position: relative;
    right: 10%;
    margin-left: 20%;
}

@media screen and (min-width: 1800px){
    .about-container {
        margin-top: 10vh;
    }
    .about-container .about-img img {
        height: 600px;
        min-height: 500px;
        min-width: 500px;
    }
}
@media screen and (min-width: 1500px){
    .about-container h2{
        font-size: 50px;
    }
    .about-container p{
        font-size: 28px;
    }
}
@media screen and (max-width: 1250px){
    .about-title h1{
        font-size: 48px;
    } 
}

@media screen and (max-width: 700px){
    .about-container .individual-project{
        height: 300px !important ;
    }
    .about-container .move-it-homepage-img {
        width: 30% !important;
    }
    .about-container .about-img img{
        width: 70%;
        height: 60%;
        margin: 2%;
        min-height: 150px;
        min-width: 150px;
    }
    .about-container .about-img .left img{
        margin-left: 2vh;
    }
    .about-container .left .project-text{
        margin-right: 2vh;
    }
    .about-container .reverse .project-text{
        margin-left: 2vh;
    }
    .about-container .project-text {
        height: 100%;
        width: 60%;
        font-size: 16px;
    }
}
@media screen and (max-width: 500px){
    .about-container{
        margin-top: 5vh;
    }
    .about-container .individual-project{
        justify-content: center;
        align-items: center;
        height: 530px !important ;
        margin-left: 0% !important;
    }
    .about-container .move-it-homepage-img {
        width: 60% !important;
        height: 30% !important;
        margin-top: 0%;
    }
    .about-container .about-img img{
        width: 70%;
        height: 60%;
        margin: 150vh 2% 2% 2%;
        min-height: 250px;
        min-width: 150px;
    }
    .about-container .about-img .left img{
        margin-left: -3% !important;
        right: 0;
    }
    .about-container .about-img .reverse img{
        margin-left: 0vh;
        right: 0;
    }
    .about-container .left .project-text{
        margin-right: 0vh;
    }
    .about-container .reverse .project-text{
        margin-left: 0vh;
    }
    .about-container .project-text {
        height: 200%;
        width: 90%;
        font-size: 16px;
        margin-top: 10vh !important;
        margin-bottom: 10% !important;
    }
    .about-container .projects-container {
        margin: 0 0 0 0 !important;
    }
}

@media screen and (max-height: 400px) {
    .about-container{
        margin-top: 0vh;
        width: 100%;
    }
    .about-container-projects {
        width: 100vw;
    }
    .about-container .individual-project{
        height: 250px !important ;
    }
    .about-container .move-it-homepage-img {
        width: 30% !important;
    }
    .about-container .about-img img{
        width: 70%;
        height: 60%;
        margin: 2%;
        min-height: 150px;
        min-width: 150px;
    }
    .about-container .about-img .left img{
        left: 10%;
    }
    .about-container .left .project-text{
        margin-right: 2vh;
    }
    .about-container .reverse img{
        right: -10%;
    }
    .about-container .project-text {
        height: 100%;
        width: 60%;
        font-size: 16px;
    }
}