
.about-container{
    width: 100%;
    height: auto;
    margin-top: 0;
}

.about-container-projects {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;  
    background-size: cover;
    background-image: 
      url('../../../images/pexels-adrien-olichon-1257089-3137052.jpg');
  }

.my-info{
    width: 70%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #494949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto auto auto;
    font-size: 24px;
    line-height: 24px;
    padding: 3%;
}
.about-title h1{
    position: relative;
    padding-top: 2%;
    left: 3%;
    width: 100%;
    font-size: 64px;
    color: #494949;
}
.about-title:hover {
    transform: scale(1.05);
}
.about-container .about-img img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    right: 10%;
}
.individual-about {
    margin: 2% 3% 3% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    border: solid #494949 1px;
    cursor: pointer;
}
.reverse {
    flex-direction: row-reverse;
  }
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    padding: 2%;
}
.about-container .projects-container {
    margin-top: 3%;
}
.about-container .reverse img {
    position: relative;
    right: 10%;
    margin-left: 20%;
}

@media screen and (min-width: 1800px){
    .about-container .about-img img {
        height: 600px;
        min-height: 500px;
        min-width: 500px;
    }
}
@media screen and (min-width: 1500px){
    .about-container h2{
        font-size: 50px;
    }
    .about-container p{
        font-size: 28px;
    }
}
@media screen and (max-width: 1250px){
    .about-title h1{
        font-size: 48px;
    } 
}