.navbar{
    width: 35vw;
    max-width: 500px;
    min-width: 470px;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0);
    transform: scale(1);
    -webkit-backdrop-filter: saturate(100% )blur(5px);
    backdrop-filter: saturate(100% )blur(5px);
    border-radius: 50px;
}
.navbarList{
    margin-right: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.listItem{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;

}
.listItem:hover {
    background-color: #333; 
    color: #fff; 
}
  .navbar-toggle {
    display: none; /* Initially hidden */
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

/* Media query for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
  .listItem{
    margin-right: 10px;
}
.navbar {
  width: 400px;
  min-width: 100px;
}
}
/* Media query for screens smaller than 900px */
@media screen and (max-width: 900px) {
    .navbar {
      justify-content: flex-start; /* Adjust alignment for the menu icon */
      -webkit-backdrop-filter: saturate(100% )blur(0px);
      backdrop-filter: saturate(100% )blur(0px);
    }
  
    /* Hide the menu by default on smaller screens */
    .navbarList {
      display: none;
      flex-direction: column; /* Stack menu items vertically */
      background-color: rgba(51, 51, 51, 0.849);
      position: absolute;
      top: 60px; /* Adjust this value based on your design */
      right: 0;
      width: 100%;
      text-align: right;
    }
  
    .navbarList.show {
      display: flex; /* Display the menu when it's toggled */
    }
  
    .listItem {
      padding: 15px;
      font-size: 18px; /* Adjust the font size for smaller screens */
      cursor: pointer;
      color: #fff;
    }
  
    /* Add a hover effect for smaller screen menu items */
    .listItem:hover {
      background-color: #555;
    }
    .navbar-toggle{
        display: block;
        position: fixed;
        right: 5%;
        top: 0%;
        font-size: 50px;
    }
  }