.navbar {
  width: 35vw;
  max-width: 500px;
  min-width: 470px;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1);
  -webkit-backdrop-filter: saturate(100%) blur(5px);
  backdrop-filter: saturate(100%) blur(5px);
  border-radius: 50px;
}

.navbar:hover {
  transform: scale(1.075);
}

.navbarList {
  margin-right: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.listItem {
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
}

.listItem:hover {
  background-color: #494949;
  color: #fff;
  transform: scale(1.1);
}

.navbar-toggle {
  display: none; /* Initially hidden */
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: absolute; /* Keep it absolute */
  right: 0; /* Adjust as needed */
  top: 10px; /* Adjust spacing */
}

/* Media query for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
  .navbar {
      justify-content: flex-start; /* Adjust alignment for the menu icon */
      -webkit-backdrop-filter: saturate(100%) blur(0px);
      backdrop-filter: saturate(100%) blur(0px);
      z-index: 10;
  }

  .navbar:hover {
    transform: none;
  }

  /* Hide the menu by default on smaller screens */
  .navbarList {
      display: none;
      flex-direction: column; /* Stack menu items vertically */
      background-color: #494949;
      position: absolute;
      top: 60px; /* Adjust this value based on your design */
      right: 0;
      width: auto;
      text-align: left;
  }

  .navbarList.show {
      display: flex; /* Display the menu when it's toggled */
  }

  .listItem {
      padding: 15px;
      font-size: 18px; /* Adjust the font size for smaller screens */
      cursor: pointer;
      color: #f9f9f9;
  }

  /* Add a hover effect for smaller screen menu items */
  .listItem:hover {
      background-color: #494949;
  }

  /* Hamburger icon should be fixed at top-right of the screen */
  .navbar-toggle {
      display: block;
      position: fixed;
      right: 20px; /* Keep it consistent with the default */
      top: 10px; /* Keep it consistent with the default */
      font-size: 50px;
  }
}
