.projects-highlight {
    width: 100vw;
}

.portfolio-title-highlight h1{
    font-size: 64px;
    position: relative;
    padding-top: 3%;
    padding-left: 3%;
}

.projects-container-highlight{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto 0 auto;
    padding-bottom: 5%;
}

.individual-project-highlight {
    margin: 3% 3% 40% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(15px);
    transform: scale(1);
    border-radius: 25px;
    -webkit-backdrop-filter: saturate(180% )blur(15px);
    backdrop-filter: saturate(180% )blur(15px);
    border: solid white 1px;
    cursor: pointer;
}

.individual-project-highlight img {
    position: relative;
    bottom: 100px;
}

.project-text-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: center;
}

.move-it-homepage-img-highlight img{
    width: 100%;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    right: 10%;
}

.right-project {
    position: relative;
    left: 10%;
}

.m1 {
    margin-top: 100px;
}
.m1 img {
    width: 80%;
    height: 5%;
}
.m2 {
    margin-top: 1200px;
}
.m3 {
    margin-top: 900px;
}
.m4 {
    margin-top: 30px;
}
