a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(43, 43, 43);
}

.background-container {
  position: absolute;
  background-size: contain;
  background-repeat: repeat-y;
  top: 0;
  width: 100vw;
  height: 5000px;
  overflow: hidden;
  z-index: -1;  
  background-image: URL('./images/Simple Cityscape In Animation Style (1).png');
}