.background-container-projects-reignite {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 3100px;
    overflow: hidden;
    z-index: -1;  
    background-repeat: repeat-y;
    background-size: cover;
    background-image: 
      url('../../../../../images/pawel-czerwinski-oykbZuvajO0-unsplash.jpg');
  }
  .reignite-projects-container-highlight{
    width: 75%;
    height: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% 10% 0 15%;
    padding-bottom: 5%;
}

.individual-project.r1 {
    margin-top: 20%;
}
.individual-project.r1 img {
    height: 5%;
}
.individual-project.r2 {
    margin-top: 350px;
}
.individual-project.r3 {
    margin-top: 200px;
}
.individual-project.r4 {
    margin-top: 150px;
}

.rBtn {
    margin-top: 100px;
}

@media screen and (min-width: 1500px) {
    .background-container-projects-reignite {
        height: 4000px;
    }
    .rBtn {
        margin-top: 800px;
    }
}