.individual-project.r1 {
    margin-top: 20%;
}
.individual-project.r1 img {
    height: 5%;
}
.individual-project.r2 {
    margin-top: -75%;
}
.individual-project.r3 {
    margin-top: -1250px;
}
.individual-project.r4 {
    margin-top: -1800px;
}

.rBtn {
    margin-top: -1500px;
}